[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[project]
name = "hydromt_fiat"
# TODO description = "Hydrological model for flood impact assessment and adaptation planning"
authors = [
    {name = "Dirk Eilander", email = "dirk.eilander@deltares.nl"},
	{name = "Frederique de Groen", email = "frederique.degroen@deltares.nl"},
	{name = "Mario Fuentes Monjaraz", email = "mario.fuentesmonjaraz@deltares.nl"},
	{name = "Luis Rodriguez Galvez", email = "luis.rodriguez@deltares.nl"},
	{name = "Lieke Meijer", email = "lieke.meijer@deltares.nl"},
    {name = "Sarah Rautenbach", email = "sarah.rautenbach@deltares.nl"},
]
requires-python = ">=3.8"
dependencies = [
    "hydromt<1.0",
    "geopandas",
    "geopy",
    "numpy",
    "openpyxl",
    "pandas",
    "pyogrio",
    "tomli-w",
    "tomli",
    "xarray",
    "pydantic",
    "osmnx>=1,<2",
    "census",
    "us",
    "xarray-spatial",
    "tqdm",
    "pycountry-convert",
    "pyarrow",
    "dask<=2024.12.1"
]
readme = "README.rst"
classifiers = [
    # https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
dynamic = ["version"]

[tool.setuptools]
zip-safe = false

[tool.setuptools.dynamic]
version = { attr = "hydromt_fiat.version.__version__" }

[tool.setuptools.packages.find]
where = ["."]
include = ["hydromt_fiat*"]

[tool.setuptools.package-data]
"hydromt_fiat" = ["data/**"]

[project.optional-dependencies]
test = [
	"testpath",
	"responses",
	"pytest>=2.7.3",
	"pytest-cov",
]
doc = [
	"sphinx",
	"sphinx_rtd_theme",
	"ruff==0.6.8",
]

[project.urls]
Documentation = "https://deltares.github.io/hydromt_fiat/"
Source = "https://github.com/Deltares/hydromt_fiat"

[project.entry-points."hydromt.models"]
fiat = "hydromt_fiat.fiat:FiatModel"

[tool.black]
line-length = 88
target-version = ['py38']
