[build-system]
requires = ["flit_core >=3.4.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "hydromt_fiat"
authors = [
    {name = "Dirk Eilander", email = "dirk.eilander@deltares.nl"},
	{name = "Frederique de Groen", email = "frederique.degroen@deltares.nl"},
	{name = "Mario Fuentes Monjaraz", email = "mario.fuentesmonjaraz@deltares.nl"},
	{name = "Luis Rodriguez Galvez", email = "luis.rodriguez@deltares.nl"},
	{name = "Lieke Meijer", email = "lieke.meijer@deltares.nl"},
]
dependencies = [
    "hydromt =0.7.1",
    "hydromt_sfincs",
    "geopandas >=0.8",
    "numpy",
    "pandas",
    "pygeos",
    "tomli-w",
    "tomli",
    "xarray",
	"pydantic =1.10.9",
	"osmnx",
	"census",
	"us"
]
requires-python = ">=3.8"
readme = "README.rst"
classifiers = [
    # https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Programming Language :: Python :: 3",
]
dynamic = ['version', 'description']

[project.optional-dependencies]
test = [
	"testpath",
	"responses",
	"pytest>=2.7.3",
	"pytest-cov",
]
doc = [
	"sphinx",
	"sphinx_rtd_theme",
	"black",
]

[project.urls]
Documentation = "https://deltares.github.io/hydromt_fiat/"
Source = "https://github.com/Deltares/hydromt_fiat"

[project.entry-points."hydromt.models"]
fiat = "hydromt_fiat.fiat:FiatModel"

[tool.black]
line-length = 88
target-version = ['py38']

[tool.flit.sdist]
include = ["hydromt_fiat"]
exclude = ["docs", "examples", "envs", "tests", "binder", ".github"]