---
name: SonarQube scan and coverage
on:
  repository_dispatch:
      types:
        - sonarqube-trigger
  workflow_dispatch:

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.branch }}

      - name: Download coverage
        uses: actions/download-artifact@v6
        with:
          name: code-coverage
          path: coverage.xml

      - name: SonarQube Scan
        if: ${{ github.event.client_payload.pr_flag }} == 'false'
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        with:
          args: >
            -Dsonar.token: ${{ secrets.SONAR_TOKEN }}
            -Dsonar.branch.name: ${{ github.event.client_payload.brach }}

      - name: SonarQube Scan (PR)
        if: ${{ github.event.client_payload.pr_flag }}
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        with:
          args: >
            -Dsonar.token: ${{ secrets.SONAR_TOKEN }}
            -Dsonar.pullrequest.branch: ${{ github.event.client_payload.brach }}
            -Dsonar.pullrequest.base: ${{ github.event.client_payload.pr_base }}
            -Dsonar.pullrequest.key: ${{ github.event.client_payload.pr_number }}
