---
name: SonarQube scan and coverage
on:
  repository_dispatch:
      types:
        - sonarqube-trigger
  workflow_dispatch:

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.branch }}

      - name: Download coverage
        run: |
          gh run download ${{ github.event.client_payload.run_id }} --name code-coverage
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: SonarQube Scan
        if: ${{ github.event.client_payload.pr_flag }} == 'false'
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.branch.name: ${{ github.event.client_payload.brach }}

      - name: SonarQube Scan (PR)
        if: ${{ github.event.client_payload.pr_flag }} == 'true'
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.pullrequest.branch: ${{ github.event.client_payload.brach }}
            -Dsonar.pullrequest.base: ${{ github.event.client_payload.pr_base }}
            -Dsonar.pullrequest.key: ${{ github.event.client_payload.pr_number }}
