---
name: Test Package
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/**
    paths:
      - src/hydromt_fiat/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/ci_test.yml
      - .github/workflows/test.yml
  pull_request:
    branches:
      - main
      - release/**
    paths:
      - src/hydromt_fiat/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/ci_test.yml
      - .github/workflows/test.yml
permissions:
  actions: write
  contents: write

jobs:
  test:
    name: "${{ matrix.label }} - py${{ matrix.python-version }}"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ["311", "312", "313"]
        include:
          - os: ubuntu-latest
            label: linux-64
          - os: windows-latest
            label: win-64

    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
