---
name: Test Package
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/hydromt_fiat/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/ci_test.yml
      - .github/workflows/test.yml
  pull_request:
    branches:
      - main
    paths:
      - src/hydromt_fiat/**/*
      - tests/**/*
      - pixi.lock
      - pyproject.toml
      - .github/workflows/ci_test.yml
      - .github/workflows/test.yml

jobs:
  test:
    name: "${{ matrix.os }} - py${{ matrix.python-version }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "windows-latest"]
        python-version: ["311", "312", "313"]

    uses: ./.github/workflows/test.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
