---
name: Build and Upload HydroMT-Fiat to PyPI

on:
  release:
    types:
      - published
  push:
    tags:
      - v*
  workflow_dispatch:

concurrency:
  group: build-test-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "v0.59.0"
          environments: default
          activate-environment: true
          frozen: true
          cache: true

      - name: Create artifacts
        run: pixi run create-artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: releases
          path: dist

  test-wheel:
    needs: build-artifacts
    uses: ./.github/workflows/ci_test.yml
    with:
      use-wheel: true
      artifact-name: releases

  upload-to-test-pypi:
    environment:
      name: testpypi
    permissions:
      id-token: write
    needs:
      - test-wheel
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: releases
          path: dist

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
          skip-existing: true

  upload-to-pypi:
    environment:
      name: pypi
    permissions:
      id-token: write
    needs:
      - test-wheel
    if: ${{ github.event_name == 'release' && !github.event.act  }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: releases
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://pypi.org/p/hydromt_fiat
          verbose: true
