---
name: Test
on:
  workflow_call:
    inputs:
      use-wheel:        { type: boolean, required: false, default: false}
      artifact-name:    { type: string,  required: false, default: "releases" }

jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ["311", "312", "313"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -e -l {0}
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup environment
        id: setup_env
        uses: ./.github/actions/setup-env
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-wheel: ${{ inputs.use-wheel }}
          artifact-name: ${{ inputs.artifact-name }}

      - name: Test
        run: |
          pixi run --no-install -e ${{ steps.setup_env.outputs.env-name }} test-cov

      - name: Upload coverage
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '313'
        uses: actions/upload-artifact@v5
        with:
          name: code-coverage
          path: coverage.xml

      - name: Signal SonarQube
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '313'
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: sonarqube-trigger
          client-payload: |
            {
              "run_id": "${{ github.run_id }}",
              "branch": "${{ github.head_ref || github.ref_name }}",
              "pr_flag": "${{ github.event_name == 'pull_request' }}",
              "pr_base": "${{ github.event.pull_request.base.ref || '' }}",
              "pr_number": "${{ github.event.pull_request.number || '' }}"
            }

  integration:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ["311", "312", "313"]
    defaults:
      run:
        shell: bash -e -l {0}
    runs-on: ${{ matrix.os }}
    needs: unit
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup environment
        id: setup_env
        uses: ./.github/actions/setup-env
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          use-wheel: ${{ inputs.use-wheel }}
          artifact-name: ${{ inputs.artifact-name }}

      - name: Test
        run: |
          pixi run --no-install -e ${{ steps.setup_env.outputs.env-name }} test-integration
