---
name: Test wheel

on:
  workflow_call:
    inputs:
      python-version: { type: string, required: true }
      os: { type: string, required: true }
      artifact-name: { type: string, required: true }

jobs:
  unit:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download built wheel
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - name: Setup pixi env
        uses: prefix-dev/setup-pixi@28eb668aafebd9dede9d97c4ba1cd9989a4d0004
        with:
          pixi-version: "v0.59.0"
          environments: system-py${{ inputs.python-version }}
          locked: false
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Install wheel
        shell: bash -l {0}
        run: |
          rm -rf src
          WHEEL=$(ls dist/*.whl)
          pixi run -e system-py${{ inputs.python-version }} uv pip install "${WHEEL}[all]"

      - name: Test
        run: pixi run --no-install -e system-py${{ inputs.python-version }} test-cov

      - name: Upload coverage
        if: inputs.os == 'ubuntu-latest' && inputs.python-version == '3.13'
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage
          path: coverage.xml

      - name: Signal SonarQube
        if: inputs.os == 'ubuntu-latest' && inputs.python-version == '3.13'
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: sonarqube-trigger
          client-payload: |
            {
              "run_id": "${{ github.run_id }}",
              "branch": "${{ github.head_ref || github.ref_name }}",
              "pr_flag": "${{ github.event_name == 'pull_request' }}",
              "pr_base": "${{ github.event.pull_request.base.ref || '' }}",
              "pr_number": "${{ github.event.pull_request.number || '' }}"
            }

  integration:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download built wheel
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - name: Setup pixi env
        uses: prefix-dev/setup-pixi@28eb668aafebd9dede9d97c4ba1cd9989a4d0004
        with:
          pixi-version: "v0.59.0"
          environments: system-py${{ inputs.python-version }}
          locked: false
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Install wheel
        shell: bash -l {0}
        run: |
          rm -rf src
          WHEEL=$(ls dist/*.whl)
          pixi run -e system-py${{ inputs.python-version }} uv pip install "${WHEEL}[all]"

      - name: Test
        run: pixi run --no-install -e system-py${{ inputs.python-version }} test-integration

  system:
    runs-on: ${{ inputs.os }}
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download built wheel
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          path: dist

      - name: Setup pixi env
        uses: prefix-dev/setup-pixi@28eb668aafebd9dede9d97c4ba1cd9989a4d0004
        with:
          pixi-version: "v0.59.0"
          environments: system-py${{ inputs.python-version }}
          locked: false
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Install wheel
        shell: bash -l {0}
        run: |
          rm -rf src
          WHEEL=$(ls dist/*.whl)
          pixi run -e system-py${{ inputs.python-version }} uv pip install "${WHEEL}[all]"

      - name: Test
        run: pixi run --no-install -e system-py${{ inputs.python-version }} test-system
